/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    background: rgb(255, 255, 255);
    height: 80px;
    padding: 25px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}


#header.header-scrolled {
    background: rgba(255, 255, 255, 0.98);
    height: 80x;
    padding: 15px 0;
    transition: all 0.5s;
}

#header.header-fixed {
    background: rgba(255, 255, 255, 0.98);
    height: 100px;
    padding: 15px 0;
    transition: all 0.5s;
}

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: 'Marcellus', serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 span {
    color: #b7202e;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
}

#header #logo img {
    position: absolute;
    left: 0%;
    padding: 0;
    size: inherit;
    margin: auto;
    height: 55px;
}

#header #iconlogo img {
    padding: 0;
    margin: auto;
    height: 85px;
    margin-top: -90px;
    margin-left: 740px;
    margin-right: 60px;
    width: 70px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}


/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: 'Marcellus', serif;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}


/* Nav Meu Container */

#nav-menu-container {
    float: right;
    margin: 0;
    margin-right: -250px;
}


/* Nav Meu Styling */

.nav-menu a {
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    color: #58595b;
    font-family: 'Marcellus', serif;
    font-weight: 600;
    font-size: 18px;
    outline: none;
}

.nav-menu .menu-active a,
.nav-menu a:hover {
    color: rgb(124, 9, 9);
}

.nav-menu>li {
    margin-left: 8px;
}

.nav-menu>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b7202e;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .menu-active>a:before {
    visibility: visible;
    width: 100%;
}

.nav-menu li.Register a {
    color: #fff;
    background: #b7202e;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid #b7202e;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 1;
    font-size: 18px;
}

.nav-menu li.Register a:hover {
    color: rgb(0, 0, 0);
    background: none;
}

.nav-menu li.Register:hover a:before,
.nav-menu li.Register.menu-active a:before {
    visibility: hidden;
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
    border-radius: 3px;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #b7202e;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
    border-radius: 3px;
}

.nav-menu ul li:hover>a {
    background: #ffffff;
    color: rgb(29, 9, 9);
}

.nav-menu ul ul {
    margin: 0;
}


/* Mobile Nav Toggle */

#mobile-nav-toggle {
    background: rgba(255, 255, 255, 0.98);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 15px 15px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #b7202e
}


/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(255, 255, 255, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: rgb(17, 3, 3);
    font-size: 17px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
}

#mobile-nav ul li a:hover {
    color: #b7202e;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: rgb(17, 15, 15);
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #b7202e;
}

#mobile-nav ul .menu-item-active {
    color: #b7202e;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    display: none;
}

#mobile-nav .sidebarlogo #iconsidebar {
    height: 70px;
    width: 70px;
}


/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    background: rgba(255, 255, 255, 0.98);
}
